<!-- <ActionBar title="My App"> </ActionBar>

<GridLayout>
  <StackLayout>
    <FlexboxLayout
      flexDirection="column-reverse"
      justifyContent="space-around"
      height="70"
    >
      <Label
        alignSelf="center"
        text="Who's the best football player in the world ?"
      ></Label>
    </FlexboxLayout>
    <progress [value]="counter" maxValue="30"></progress>
    <ListView [items]="items">
      <ng-template let-item="item">
        <FlexboxLayout alignItems="center" justifyContent="space-between">
          <Label [text]="item.name"></Label>
          <Label [text]="item.note"></Label>
        </FlexboxLayout>
      </ng-template>
    </ListView>
    <Button text="Go" (tap)="myfunc($event)" class="my-button"></Button>
    <Button
      text="ScoreBoard"
      [nsRouterLink]="['/score']"
      pageTransition="slide"
      class="my-button2"
    ></Button>
  </StackLayout>
</GridLayout> -->
<StackLayout>
  <TextField hint="Game name" [(ngModel)]="game.name"> </TextField
  ><TextField hint="Number of teams" [(ngModel)]="game.number_of_teams">
  </TextField>
  <TextField hint="Number of rounds" [(ngModel)]="game.rounds"> </TextField>
  <Button
    text="Go"
    *ngIf="!gameRes"
    (tap)="launchGame('game')"
    class="my-button"
  ></Button>
  <StackLayout *ngIf="gameRes">
    <FlexboxLayout
      flexDirection="row"
      *ngFor="let item of gameRes.teams; let i = index"
    >
      <Label [text]="i"></Label>
      <TextField hint="Team Name" [(ngModel)]="teams[i]"> </TextField>
    </FlexboxLayout>
    <Button text="Go" (tap)="launchGame('team')" class="my-button"></Button>
  </StackLayout>
</StackLayout>
