<!-- <ActionBar title="My App"> </ActionBar>

<GridLayout>
  <StackLayout>
    <FlexboxLayout
      flexDirection="column-reverse"
      justifyContent="space-around"
      height="70"
    >
      <Label
        alignSelf="center"
        text="Who's the best football player in the world ?"
      ></Label>
    </FlexboxLayout>
    <progress [value]="counter" maxValue="30"></progress>
    <ListView [items]="items">
      <ng-template let-item="item">
        <FlexboxLayout alignItems="center" justifyContent="space-between">
          <Label [text]="item.name"></Label>
          <Label [text]="item.note"></Label>
        </FlexboxLayout>
      </ng-template>
    </ListView>
    <Button text="Go" (tap)="myfunc($event)" class="my-button"></Button>
    <Button
      text="ScoreBoard"
      [nsRouterLink]="['/score']"
      pageTransition="slide"
      class="my-button2"
    ></Button>
  </StackLayout>
</GridLayout> -->
<StackLayout>
  <TextField hint="Game name" [(ngModel)]="game.name"> </TextField
  ><TextField hint="Number of teams" [(ngModel)]="game.number_of_teams">
  </TextField>
  <TextField hint="Number of rounds" [(ngModel)]="game.rounds"> </TextField>
  <Button text="Go" (tap)="launchGame($event)" class="my-button"></Button>
</StackLayout>

<StackLayout>
  <GridLayout
    columns="100,auto"
    rows="100,auto"
    width="210"
    height="210"
    backgroundColor="lightgray"
  >
    <Label text="Label 1" col="0" row="0" backgroundColor="red"></Label>
    <TextField hint="Team Name" col="1" row="0"> </TextField>
  </GridLayout>
</StackLayout>
